@charset "UTF-8";

@media only screen and (max-width: 600px) {
    
    header#main-header div {
        background-color: rgb(148, 148, 148);
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    
    #header-main-titles {
        padding: 10px;
    }
    #logo-mobile {
        width: 150px;
        border-radius: 10px;
    }
        
    menu {
        display: block;
    }
    
    menu ul {
        display: block;
        width: 92vw;
        list-style-type: none;
    }
    
    menu a {
        display: block;
        padding: 8px;
        border: 2px solid gray;
        text-align: center;
        background-color: rgb(87, 87, 87);
        color: white;
        border-radius: 5px;
    }

    menu a:hover {
        background-color: gray;
        font-weight: bolder;
        border: 1px solid white;
        text-shadow: 1px 1px 1px black;
    }
        
}
