@charset "UTF-8";

@media only screen and (max-width: 600px) {
    
    header#main-header div {
        background-color: rgb(148, 148, 148);
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    
    #header-main-titles {
        padding: 10px;
    }

    menu {
        display: block;
    }
    
    menu ul {
        list-style-type: none;
    }
    
    menu a {
        display: block;
        padding: 8px;
        border: 2px solid gray;
        text-align: center;
        background-color: rgb(87, 87, 87);
        color: white;
    }

    menu a:hover {
        background-color: gray;
        color: black;
        font-weight: bold;
    }
        
}
